{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "selector-pseudo-class-no-unknown": [ true, {
      "ignorePseudoClasses": ["global"]
    }],
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": ["global"]
    }],
    "media-feature-name-no-unknown": [true, {
      "ignoreMediaFeatureNames": ["display-mode"]
    }]
  }
}
